<ul id="wb-tphp">
  <li class="wb-slc">
    <a class="wb-sl" href="#wb-cont">{{ site.SkipToMain[page.lang] }}</a>
  </li>
  <li class="wb-slc visible-sm visible-md visible-lg">
    <a class="wb-sl" href="#wb-info">{{ site.SkipToAbout[page.lang] }}</a>
  </li>
</ul>
<header role="banner">
  <div id="wb-bnr">
    <div id="wb-bar">
      <div class="container">
        <div class="row">
          <img id="gcwu-sig" src="{{ site.baseurl }}/assets/wet-boew/assets/sig-en.svg" alt="Government of Canada / Gouvernement du Canada">
          <ul id="gc-bar" class="list-inline">
            <li><a href="https://github.com/gc-blockchain/gc-blockchain.github.io" rel="external">Github</a></li>
            <li id="wb-lng"><h2>{{ site.LanguageSelection[page.lang] }}</h2>
              <ul class="list-inline">
                {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
                {% for my_post in posts %}
                  {% if my_post.lang != page.lang %}
                    <li><a lang="{{ my_post.lang }}" href="{{ my_post.url | prepend: post.baseurl }}">{{ site.language[my_post.lang] }}</a></li>
                  {% endif %}
                {% endfor %}  

                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% for my_page in pages %}
                  {% if my_page.lang != page.lang %}
                    <li><a lang="{{ my_page.lang }}" href="{{ my_page.url | prepend: site.baseurl }}">{{ site.language[my_page.lang] }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>

          <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
            <h2>{{ site.Menu[page.lang] }}</h2>
            <ul class="pnl-btn list-inline text-right">
              <li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">{{ site.Menu[page.lang] }}</span></span></span></a></li>
            </ul>
            <div id="mb-pnl"></div>
          </section>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <img id="wmms" class="visible-sm visible-xs" src="{{ site.baseurl }}/assets/wet-boew/assets/wmms.svg" alt="Symbol of the Government of Canada">
      </div>
    </div>
  </div>

  <nav role="navigation" id="wb-sm" data-ajax-replace="" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement"></nav>

</header>

<main role="main" property="mainContentOfPage" class="container">

{% if page.lang == "en" %}
  <h1 id="wb-cont" property="name"><a href="{{ site.baseurl }}/home.html">{{ site.title[page.lang] }}</a></h1>
{% else %}
  <h1 id="wb-cont" property="name"><a href="{{ site.baseurl }}/accueil.html">{{ site.title[page.lang] }}</a></h1>
{% endif %}
